<html ng-app="skvopenApp">
    <head>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="frontend/skvopenApp.js"></script>
        <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyAVk5mXuf260O90PV_Z3whQoMfRUpbxdug&callback=initMap' async defer></script>

        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

        <style>
            html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            }
            #map {
            height: 100%;
            }
        </style>

        <script>
            function initMap() {
            angular.element(document.getElementById('skvopenController')).scope().initMap();
            }
        </script>

    </head>

    <body ng-controller="skvopenController" id="skvopenController">

        <div class="container">

            <div id="map"></div>

            <form>
                Lön: <input type="text" ng-model="lon"/> <br/>
                Hemkommun: <input type="text" placeholder='Ingen kommun vald ännu' ng-model="nuvarandekommun" readonly/> <br/>

                <div class="row">
                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Kommun</th>
                                    <th>Hamburgare</th>
                                    <th>Läskburkar</th>
                                    <th>Godisnappar</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="(kommun, varor) in varorPerKommun">
                                    <tr>
                                        <td>
                                            {{kommun}}
                                        </td>
                                        <td>
                                            {{varor.hamburgare}}
                                        </td>
                                        <td>
                                            {{varor.sodaburk}}
                                        </td>
                                        <td>
                                            {{varor.godisnapp}}
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <input type="submit" value="Återställ" ng-click="aterstall()"/>
            </form>

        </body>
    </html>
